.header {
	
	color:white;
	background-color:gray;
}

.messageBox
{
	background-color:white;
	width:500px;
	margin: auto;
}
body 
{
	
background-image: url('../images/background.jpg');
}

.users {
	float:left;
	width:200px;
	height:500px;
	border-color:red;
	background-color:white;
	overflow:scroll;
}

.box {
	border-color:red;
	width:500px;
	height:500px;
border-style: solid;
border-width: 5px;
margin:auto;
background-color:white;
overflow:scroll;
}
#userPicture
{
	width:25px;
	height:25px;
	
	display:inline-block;
}

/*
.messageBox {
 width:400px;
 height:50px;
	border-style: solid;
border-width: 5px;
margin:auto;
margin-top:420px;
}
*/
