html {
    font-family: Helvetica, sans-serif;
}

.heading {

    text-align:center;
   
}

.number-item {
    background-color: green;
}

.chatroom
{
	width:70%;
    height: 50%;
    margin: 50px;
   float: right;
    padding:30px;
}

.usersSection
{
    overflow-y:scroll;
    width:200px;
    height:50%;
    background-color:white;
}



.msgArea
{
    border: 2px solid black;
	background-color:white;
	height:70%;
	 opacity: 0.8;
	overflow-y:scroll;
	background-color: #ffffff;
}

p
{
	color:black;
}

img {
    width:250px;
    height:250px;
}