html {
    font-family: Helvetica, sans-serif;
}

.heading {

    text-align:center;
   
}
#banner
{
    padding-top:40px;
}

.number-item {
    background-color: green;
}

.chatroom
{
	width:80%;
    height: 55%;
    margin:auto;
   
}

.usersSection
{
    overflow-y:scroll;
    width:200px;
    height:50%;
    background-color:white;
}
.spotifyContainer{
     opacity: 0.8;
     text-align: center;
    
}

.msgArea
{
    border: 2px solid black;
	background-color:white;
	height:100%;

	 opacity: 0.8;
	overflow-y:scroll;
	background-color: #ffffff;
}

p
{
	color:black;
}

img {
    width:250px;
    height:250px;
}
#Spotifyframe {
    visibility:hidden
}
