html {
    font-family: Helvetica, sans-serif;
}

.heading {

    text-align:center;
   
}

.number-item {
    background-color: green;
}

.chatroom
{
	width:70%;
    background-color: #ffffff;
    height: 200px;
    overflow: scroll;
    margin: 50px;
    border: 2px solid black;
    opacity: 0.8;
    text-align:center;
    padding:30px;
}

.usersSection
{
    overflow-y:scroll;
    width:200px;
    height:50%;
    background-color:white;
}



.msgArea
{
    opacity: 0.9;
	background-color:white;
	height:70%;
	overflow-y:scroll;
}

p
{
	color:black;
}

img {
    width:250px;
    height:250px;
}