<html>
    
    <head>

        <title>CST205 - Project 2</title>
        <link rel="shortcut icon" href="/PATH_TO_STATIC_FAVICON/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
<meta name="google-signin-scope" content="profile email" />
<meta name="google-signin-client_id"
content="935158962419-7g03oq9tkokkii66lo2et6g8mt049aqt.apps.googleusercontent.com" />
<script src="https://apis.google.com/js/platform.js" async defer> </script>
<style>
    body {
background-image: url({{back}});
background-repeat: no-repeat;
background-size:     cover;                    
background-position: center center;    
background-color: powderblue; 
}
    
</style>
    </head>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '642141299328442',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
        <div id="content"></div>
<h3 id="banner" style="color:white;float:left"></h3>
        <script type="text/javascript" src="/static/script.js"></script>
    
            <script>
            alert("Welcome to the chatroom\nLogin and type \"!! help\" to view list of\
 bot commands\nYou can paste pictures in the chat and also youtube videos.\n\
They will render inline");

        </script>
    
    </body>
</html>